* {
	margin: 0px;
	padding: 0px;
}
#content {
	width: 1000px;
	margin: 0 auto;	
	margin-top: 180px;
}
.wrapbox {
	margin: 5px;
	width: 180px;
	height: 180px;
	float: left;
}

.wrap {
	background: url(images/background.jpg) center center no-repeat;
	width: 100%;
	height: 100%;
	margin: 5px;
	border: 1px solid #ddd;
	/*text-align: center;*/
	float: left;
	position: relative;
	left: 0px;
	top: 0px;
}

.wrapdata {
	display: none;
}

.wrap img {
	position: absolute;

	margin:20px 0 0 20px;
}


.wrap:hover {
	border: 1px solid #999;
	box-shadow: 0 0 20px #999 inset;
}

.wrapDescription {
    font-size:14px;
    padding:50px 10px 20px 20px;
    font-style:italic;
    text-indent: 1em;
}
.wrapURL {
    font-size:10px;
    font-weight:bold;
    padding-left:15px;
}

.wrapURL a {
	text-decoration: none;
	color:#0196e3;
    text-decoration:none;
    outline:none;
}

.wrapURL a:hover {
	text-decoration: underline;

}


